.Footer {
  background: black;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 5;
}
a.social {
  padding-top: 20px;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
  color: #fff;
}

a.youtube, a.facebook, a.twitter, a.instagram, a.github, a.linkedin {
  color: gray;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: gray;
  margin: 0 auto;
  width: 80%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
